
<div class="jumbotron ">
   <h1 class="title">Blocipedia</h1>
   <p class="title">Blocipedia: Social, Markdown Wikis</p>
   <p class="title">
    <%= link_to "Sign In", new_user_session_path, class:'sign-link' %> or
     <%= link_to "Sign Up",  new_user_registration_path, class: 'sign-link' %> today!
   </p>
</div>
 

 
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <h4 class="plan-title">Free Plan</h2>
        <p class="plan-text"> Create as many public wikis as you want </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h4  class="plan-title">Premium Plan</h2>
        <p class="plan-text">Create private wikis!</p>
        <p class="plan-text">Add collaborators!</p>
      </div>
    </div>
  </div>