<div class="row">
  <div class="container">
    <table class="table table-hover">
      <thead>
        <td width="70%"><h4>Wiki Title</h4></td>
        <td width="30%"><h4>Actions</h4></td>
      </thead>
      <tbody>
        <% @wikis.each do |wiki| %>
            <td>
              <%= link_to wiki.title, wiki %>
              <% if wiki.private %>
                <b>Private!</b>
              <% end %>
            </td>
            <td>
              <%= link_to "Edit", edit_wiki_path(wiki), class: 'btn btn-primary btn-xs' %>
        
                <%= link_to "Delete", wiki_path(wiki), method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: "Are you sure you want to delete this wiki?"} %>
              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
