<h1>Edit Wiki</h1>
<div class="col-md-8">
  <%= render 'form', wiki: @wiki %>


  collaborators: <%= @wiki.collaborators.count %> 
   <%# if @wiki.private? && user_is_authorized_for_collaborator_edit? %>
 </div>