<div class="container">
  <div class="row heading">
    <div class="col-md-12">
      <h1>New Wiki</h1>
      <h4>Brewpedia supports Markdown syntax.</h4>
      <h4> <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Here's a cheat sheet for reference.</a></h4>
    </div>
  </div>

      <div class="col-md-12">
        <%= render 'form', wiki: @wiki %>
      </div>
</div>     

